<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Alata'>
    <title>Home Page</title>
  </head>
  <body>
    <h1 style="background-color: #44ccff;width: 50%;position: fixed;right:0%; text-align: center;height: 90%;top: -2.2%;"></h1>
    <h2 style=" background-color: #2266ff;height:10%;position: fixed;width: 50%;top: -2.1%;left: 0%;"></h2>
    <h3 style="font-family: 'Alata';font-size: 50px;position: fixed;left:68%;top: 10%;letter-spacing: 4px;">REGISTER</h3>
    <form>
      <label for="email" style="font-family: 'Alata';font-size: 20px;position: fixed;right: 25%;top:28%">Email:</label>
      <textarea type="email" id="email" name="email" required style="border-width: 2px; font-size: 142%; top:32%; position:fixed; right:11%;" rows="1" cols="50"></textarea><br><br>
      <label for="username" style="font-family: 'Alata';font-size: 20px;position: fixed;right: 24%;top:37%">Username:</label>
      <textarea type="text" id="username" name="username" required style="border-width: 2px; font-size: 142%; top:41%; position:fixed; right:11%;" rows="1" cols="50"></textarea><br><br>
      <label for="password" style="font-family: 'Alata';font-size: 20px;position: fixed;right: 24%;top:46%">Password:</label>
      <textarea type="password" id="password" name="password" required style="border-width: 2px; font-size: 142%; top:50%; position:fixed; right:11%;" rows="1" cols="50"></textarea><br><br>
      <input type="submit" value="Submit" style="background-color: #99eeff;border: none;height: 30px; width: 5%;font-family: 'Alata';font-size: 100%;position: fixed;right:24%;bottom: 40%;"><br><br><br>

      <p style="font-family: 'Alata'; position: fixed;right: 21%;bottom: 33%;">Already Have an Account?</p>
      <a href="login.html" style="font-family: 'Alata';position: fixed;right: 25.5%;bottom: 32%;">Login</a>
      <h4 style="background-color: #2266ff;height:10%;position:fixed;width: 50%;bottom: -2.2%;right: 0%;"></h4>
      <img src="undergrad-chat-low-resolution-logo-black-on-white-background.png" style="position: fixed;top: 10%;left: -1%;height: 75%;width: 50%;">
    </form>
  </body>
</html>