<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Alata'>
    <title>Profile</title>
  </head>
  <body>
    <h1 style="background-color: #2266ff;height: 10%;position: fixed;width: 100%;top: -2.2%;left: 0%;"></h1>
    <h2 style= "background-color: #44ccff;height: 6%;position: fixed;top: 8%;width: 100%;left: 0%;"></h2>
    <h3 style="font-family: 'Alata';position: fixed;top: 7%;font-size: 230%;left: 45%;letter-spacing: 9px">Profile</h3>
    <form action = "/profile/create" method = post>
        <a href="/all" style="position: fixed;top: 12%;background-color: #99eeff;width: 5%;text-align: center;height: 2.5%;font-size: 100%; font-family: 'Alata';left: 90%;">All Posts</a><br><br> <!--Find html/css to make this a header bar-->
        <img src="undergrad-chat-low-resolution-logo-black-on-white-background.png" style="position: fixed;top: 28%;left: 3%;height: 45%;width: 30%;border-color: black;border-style: solid;"> 
        <p style="position: fixed;font-family: 'Alata';font-size: 150%; left: 10%;bottom: 20%;" id="profileName">{{user.username}}</p><br>

        <div style="border-color: black;border-style: solid;width: 50%;position: fixed;left: 47%;top: 20%;">
        <table>
          <tbody>
            {% for post in posts %}
              <tr>
                <td>
                  {{post.title}}
                </td>
                <td>
                  {{post.text}}
                </td>
                <td>
                  {{post.tag}}
                </td>
                <td>
                  <a href="/post/{{post.post_id}}">Expand</a></p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>      
      </div>
      <a href="create" style="position: fixed;top: 80%;background-color: #99eeff;width: 4%;text-align: center;height: 2.5%;font-size: 100%; font-family: 'Alata';left: 14%;">Create</a><br><br>
    </form>
  </body>
</html>

