<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>
    <form>
        <a href="allPosts.html">All Posts</a><br><br> <!--Find html/css to make this a header bar-->
        <label for="search">Search:</label>
        <input type="search"><br><br><br>

        <source media="(min-width:650px)" srcset=""> <!--Put profile image here-->
        <p>Profile name goes Here</p><br>

        <p>Insert Post Title Here &emsp; Insert Post Author Here &emsp;
        <a href="post.html">Expand</a></p>
    </form>
  </body>
  
</html>

